@media only screen and ((min-width: 601px)) {
    .container {
        width: 95% !important;
        max-width: 1140px;
    }

   .section-queridinhos .row .col:first-of-type{
    padding-left: 0px;
    }

    .section-queridinhos .row .col:last-of-type{
    padding-right: 0px;
    }

}
@media only screen and (max-width: 600px){
    .container {
        width: 95% !important;
    }
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #1db4c1;
    box-shadow: 0 1px 0 0 #1db4c1;  
}
h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #371E56;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
}
h2{
    font-size: 1.953em;
    font-weight: bold;
}
.flex-me{ display: flex }
.space-between{ justify-content: space-between; }
.block-me{ display: block; }
.fix-margin:before,.fix-margin:after{ content: ''; display: block; height: 1px; }
.no-margin{ margin: 0; }
.no-margin-top{ margin-top: 0; }
.no-padding{ padding: 0 !important; }
.no-padding-left{ padding-left: 0  !important; }
.no-padding-right{ padding-right: 0  !important; }
.no-margin-bottom { margin-bottom: 0; }
.text-justfy { text-align: justify; }
.btn, .btn-large, .btn-small{
    text-transform: initial;
    background-color: #371e56;
    box-shadow: none;
    border-radius: 10px;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: #371e56;
    color: #FFF !important;
    box-shadow: none;
}
/*colors*/
.li-grey{
    background-color: #f9f9f9 !important;
}
.li-roxo{
    background-color: #371e56 !important;
}
.li-roxo-text{
    color: #371e56 !important;
}

.site-header {
    display: flex;
    top: -100px;
    align-items: center;
    margin: 0px auto;
    min-height: 72px;
    transition: top .5s linear;
}
.site-header.fixed {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    box-shadow: 0px 8px 20px -18px rgb(0 0 0 / 60%);
}
.custom-logo{
    max-width: 230px;
}
.site-header .site-title {
    margin: 16px 0;
}
.site-header .btn {
    margin: 15px 0px;
    font-weight: 600;
    font-size: 16px;
}
.mobile-nav-icon, .mobile-nav-icon a{
    line-height: 72px;
}
.site-header .btn:hover {
    font-weight: 600;
    font-size: 16px;
}
.site-search{
    position: relative;
    text-align: right;
}
.site-search a{
    display: inline-block;
    margin: 0px;
    padding-top: 8px;
    font-size: 16px;
    line-height: 64px;
}
.search-form{
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: -4px;
    text-align: center;
    width: 325px;
    background: #fff;
    border: 1px solid #371e56;
    padding: 0;
    height: 0;
    z-index: 12;
    box-shadow: 0 1px 4px rgb(0 0 0 / 9%);
    transition: height .1s;   
}
.search-form:before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    right: 16px;
    position: absolute;
    top: -8px;
    z-index: 98;
}
.search-form:after {
    border-color: transparent transparent #eaeaea;
    border-style: solid;
    border-bottom-color: #371e56;
    border-width: 0 9px 9px;
    content: "";
    right: 15px;
    position: absolute;
    top: -9px;
    z-index: 97;
}
.site-search.open .search-form{
    opacity: 1;
    visibility: visible;
    padding: 20px;
    height: auto;
    transition: padding .2s,height .1s,opacity .15s;   
}
.search-form input{
    height: 36px;
    width: 100%;
    padding: 0.5em 30px 0.5em 14px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 5%);
}
.search-form input::placeholder{
    color: #000;
    opacity: 1; 
}
.search-form-button{
    color: #888;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    background: transparent;
    border: 0;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    height: auto;
    min-height: unset;
    line-height: normal;
    padding: 0 4px;
    transition: none;
    font-weight: 500;
}
.search-form-button:focus{
    background: transparent;
}
.site-search-mobile {
    position: relative;
    padding: 20px;
}
.site-search-mobile .search-form{
   position: initial;
   opacity: 1;
   visibility: visible;
   height: auto;
   width: 100%;
   border: 0;
}

nav{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    background-color: #f9f9f9;
    box-shadow: none;
}
.nav-menu > li > a, .nav-menu > li > a:hover{
    color: #371e56;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    padding-right: 25px;
}
.nav-menu .menu-item-has-children > a:after{
    position: absolute;
    top: 26px;
    right: 9px;
    color: #371e56;
    content: "keyboard_arrow_down";
    display: inline-block;
    margin-left: 5px;
    margin-right: -3px;
    line-height: 1;
    font-family: 'Material Icons';
    font-size: inherit;
    font-weight: normal;
    text-rendering: auto;
}
#mobile-nav { 
    height: 100vh;
    bottom: 0;
    padding-bottom: 0;
    z-index: 99999999;
}
#mobile-nav .mobile-nav-ul {
    padding: 20px;
}
#mobile-nav .mobile-nav-ul > li > a{
    color: #212121;
    margin-bottom: 15px;
    display: block;
    font-size: 18px;
    line-height: 1.444em;
    font-weight: 700;
    position: relative;
    padding: 0;
    height: auto;
}
#mobile-nav .menu-item-has-children:not(.open) .sub-menu{
    max-height: 0;
    transition: max-height 0.1s linear;
}
#mobile-nav li>a:hover {
    background: #fff;
}
#mobile-nav .sub-menu{
    display: block;
    overflow: hidden;
    max-height: 1000px;
    margin: 0;
    background: #fff;
    transition: max-height 5s linear;
}
#mobile-nav .sub-menu a{
    height: auto;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: 1px solid #eee;
}
#mobile-nav .menu-item-has-children > a:after{
    position: absolute;
    top: 0;
    right: 9px;
    color: #a0a0a0;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
    color: #a0a0a0;
    content: "keyboard_arrow_right";
    font-family: 'Material Icons';
    font-size: 28px;
    font-weight: 100; 
    line-height: 1;
    transition: transform 0.5s linear;
}
#mobile-nav .menu-item-has-children.open > a:after{
    transform: rotate(90deg);
}
.footer-mobile-nav{
    position: absolute;
    bottom: 30px;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
}

#breadcrumbs, #breadcrumbs a, #breadcrumbs strong{ 
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #53585c; 
}
#breadcrumbs .breadcrumb_last_link, #breadcrumbs .breadcrumb_last_link a{
    color: #a0a0a0;
    font-weight: normal;
}
.error404 .site-main{
    padding-top: 30px;
}

.box_search{
    background: #f7f7f7;
    padding: 20px;    
}
.box_search form{
    display: flex;
}
.box_search input{
    display: inline-block;
    flex-grow: 1;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 7px 14px;
    height: 40px;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    max-width: 100%;
    box-shadow: none;
}
.box_search button{
    border: none;
    border-radius: 0;
    background: #371e56;
    color: #fff;
    padding: 0;
    width: 60px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    outline: 0;
}

/*HOME*/
.title-label{
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-top: 20px;
    line-height: 36px;
    background-color: #371e56;
    color: #fff;
}
.title-label + .divider{
    margin-bottom: 20px;
    height: 2px;
    background-color: #eee;
}


.section-hero > .row .col{
    height: 410px;
    overflow: hidden;
}
.section-hero .col:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-hero .gallery-thumbnail:not(.half-height){
    height: 410px;
}
.section-hero .gallery-thumbnail.half-height{
    max-height: 195px;
}

.section-hero article {
    padding-bottom: 0;
}
article {
    padding-bottom: 40px;
}
article .gallery-thumbnail {
    position: relative;
    overflow: hidden;
    line-height: 0;
    border-radius: 6px;
}
article .gallery-thumbnail.shadow:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg,transparent 0,#000 65%,#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#000000",GradientType=0);
    opacity: .6;
    z-index: 2;
}
article .gallery-thumbnail > a{
    display: block;
}
article .gallery-thumbnail .over-legend{
    position: absolute;
    z-index: 3;
    bottom: 7px;
    padding: 0 25px;
}
article .gallery-thumbnail  h2{
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
    margin:0;
    margin-top: 20px;
}
article .gallery-thumbnail.half-height  h2{
    font-size: 22px;
    font-weight: 700;
}
article .gallery-thumbnail img.run {
    max-width: 116%;
    margin-left: -16%;
    transition: margin-left 0.5s ease-out;
}
article .gallery-thumbnail:hover img.run {
    margin-left: 0;
}
article .gallery-thumbnail .post-meta{
    opacity: 0;
    transition: all .35s ease;
    color: #FFF;
    font-size: 11px !important;
    text-transform: uppercase;
    line-height: 0px;
    margin: 0;
}
article:hover .gallery-thumbnail .post-meta{
    opacity: 1;
    line-height: 11px;
    margin: 10px 0;
}
article .gallery-thumbnail  .post-meta a, article .gallery-thumbnail  .post-meta i{
    color: #FFF;
    font-weight: bold;
    font-size: 11px !important;
}
article .entry-content p{
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
}
@media only screen and (max-width: 600px){
    .section-hero > .row .col{
        height: 165px;
    }
    .section-hero .col:last-of-type {
        flex-direction: row;
    }
    .section-hero > .row .col.s12{
        padding: 0;
        margin-bottom: 10px;
    }
    .section-hero .gallery-thumbnail:not(.half-height){
        height: 165px;
    }
    .section-hero .gallery-thumbnail.half-height{
        max-height: 135px;
    }
    .section-hero .col.m5 article{
        width: 49%;
    }
    article .gallery-thumbnail .over-legend{
        padding: 0 10px;
    }
    article .gallery-thumbnail  h2{
        font-size: 18px !important;
        line-height: 1.3;
        margin-top: 10px;
    }
    article .gallery-thumbnail.half-height  h2{
        font-size: 15px  !important;
        font-weight: 700;
    }
}


/* QUERIDINHOS DO MOMENTO STYLES */


.gallery-thumbnail img{
    border-radius: 6px;
}

.section-queridinhos .gallery-thumbnail img{
    width: 100%;
}

.post-category{
    margin: 0;
    line-height: 1;
}

.post-category a{
    font-size: 11px;
    color: #fff;
    padding: 3px 6px;
    background: #371e56;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gallery-post-info h4{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
}

.gallery-post-info a{
    color: #551a8b;
}

.gallery-post-data a{
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    color: #a0a0a0;
}

.gallery-post-info i{
    color: #2bc4c3;
}


/* END QUERIDINHOS DO MOMENTO */


/* MATERIAIS MAIS VAIXADOS STYLES */


.section-materiais .container{
    position: relative;
}

.section-materiais{
    background-color: #f0f3f4;
    padding-top: 40px;
}

.section-materiais .row{
    margin: 0 -0.75rem;
    min-height: 300px;
}

.section-materiais .col {
    padding-bottom: 15px;
}

.section-materiais .carousel-item {
    width: 360px;
    height: 257px;
}

.section-materiais article .gallery-thumbnail:before {
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: linear-gradient(180deg,transparent 0,#000 65%,#000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#000000",GradientType=0);
    opacity: .6;
    z-index: 2;
}

.carousel-nav{
    position: absolute;
    bottom: 95px;
    width: 100%;
    padding: 0px 15px;
}

.section-materiais .carousel-item{
    opacity: 1 !important;
}


.section-materiais article h2{
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;   
}
.section-materiais article .post-category + h2{
    margin-top: 20px;
}

.section-materiais article img{
    width: 100%;
    transition: scale .35s linear;
}

.section-materiais article:hover img{
    scale: 1.2;
}

.section-materiais article .over-legend{
    bottom: 60px;
    text-align: center;
}


.section-materiais .carousel-nav i{
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
}



/* END MATERIAIS MAIS BAIXADOS */



/*JORNADA*/
.section-jornada .gallery-thumbnail{
    height: 350px;
}
@media only screen and (max-width: 600px){
    .section-jornada .gallery-thumbnail{
        height: 183px;
        margin-bottom: 13px;
    }

}
.section-jornada .col{
    padding: 0;
}
@media only screen and ((min-width: 601px) or (min-width: 993px)) {
    .section-jornada .col:first-child .gallery-thumbnail {
        clip-path: polygon(0 0, 100% 0%, calc(100% - 32px) 100%, 0% 100%);
    }
    .section-jornada .col:last-of-type .gallery-thumbnail {
        clip-path: polygon(calc(0% + 32px) 0, 100% 0%, 100% 100%, 0% 100%);
    }
}


/*all content*/
.section-all-content .col{
    min-height: 128px;
    padding-left: 0;
}
.section-all-content .gallery-post-info{
    max-width: 230px;
}
.section-all-content .gallery-post-info h4{
    margin-top: 0;
    font-size: 18px;    
}
.nav-row{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.nav-row:after, .nav-row:before {
    content: "";
    width: 50%;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #eee;
    left: -40px;
    top: 50%;
}
.nav-row:after {
    right: -40px;
    left: auto;
}
.nav-row a {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 16px;
    line-height: 28px;
    width: 30px;
    height: 28px;
    border: 1px solid #e0e0e0;
    text-align: center;
    color: #212121;
    background: #fff;
    transition: .2s ease;
}
.nav-row a.disabled {
    cursor: default;
    color: #a0a0a0;
    border-color: #eee;
}
.nav-row .prev {
    margin-right: 2px;
}
.nav-row i.material-icons{
    line-height: 27px;
    font-size: 16px;
}


/* Template Page: Categoria Especial */


.page-template .section-hero > .row .col,.page-template .section-hero .gallery-thumbnail:not(.half-height) {
    height: 486px;
}
@media only screen and (min-width: 601px){
    .page-template .section-hero img.run{
        max-width: none;
        height: 486px;
    }
}
@media only screen and (max-width: 600px){
    .page-template .section-hero > .row .col,.page-template .section-hero .gallery-thumbnail:not(.half-height) {
        height: 186px;
    }
    .page-template .section-hero article .gallery-thumbnail .post-meta {
        opacity: 1;
        font-size: 10px;
        line-height: 10px;
        margin: 10px 0;
    }
}



/*FIM?*/



@media only screen and (max-width: 600px){
    #nav-search { width: 160px; }
    nav .dropdown-trigger{ padding-right: 0; }
}
/*Loop style*/
@media only screen and (min-width: 601px){
    article.loop { display: flex; }    
}


article.loop figure{ margin: 0; }
article.loop figure img{     height: 100%; }
h2.entry-title{
    margin: 0;
    font-size: 25px;
    font-weight: 600 !important;   
    line-height: 29px;
}
.entry-meta {
    font-size: 11px;
    margin-bottom: 7px;
    line-height: 1;
    min-height: 17px;
}
article.loop .entry-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Single style*/
article.single .entry-header{ 
    position: relative;
    max-height: 700px;
    overflow: hidden;
    margin-bottom: 20px;
}
article.single .entry-header::before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}
article.single .entry-header #breadcrumbs{
    padding-top: 20px;
    flex-grow: 1;
}
article.single .entry-header .post-categories{
    margin: 0;
    display: flex;
}
article.single .entry-header .post-categories li{
    padding: 5px;
    background-color: #000;
    list-style: none;
    font-size: 10px;  
    color: #FFF;
}
article.single .entry-header .post-categories a{
    color: #FFF;
}
article.single .entry-header .post-thumbnail img{
    width: 100%;
}
article.single .entry-header .entry-wrap-title{ 
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1.entry-title{
    font-size: 44px;
    line-height: 54px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #fff;
}

article.single .entry-header .entry-arrow{
    opacity: .8;
}
article.single .entry-meta, article.single .entry-meta a{
    color: #FFF;
}
article.single .entry-content{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
article.single .entry-content h2{
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    margin: 6px 0;
    margin-top: 30px;
    margin-bottom: 20px;    
    color: #111;
    overflow-wrap: break-word;
}
article.single .entry-content h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin: 6px 0;
    margin-top: 27px;
    margin-bottom: 17px;    
    color: #111;
    overflow-wrap: break-word;
}
article.single .entry-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}
article.single .entry-content p:first-child {
    margin-top: 0;
}
article.single .entry-content ul{
    margin: 0 16px;
    list-style-type: disc;
}
article.single .entry-content li{
    list-style-type: disc;
}
article.single .entry-footer{
    border-top: 1px solid #ededed;
    padding: 42px 0 42px 0;
    
}
article.single .post-nav{
    height: auto;
}
article.single .author-box{
    height: auto;
    margin: 0;
    padding: 1.5rem 0.75rem;
    border: 1px solid #ededed;
}
article.single .author-box a{
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    color: #000;
}
article.single .post-nav span{
    display: block;
    line-height: 1.5;
    font-size: 12px;
    color: #c1c1c1;
    margin-bottom: 7px;
}
article.single .post-nav a{
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    line-height: 21px;
    margin-bottom: 43px;
}
@media only screen and (max-width: 600px){
    article.single .entry-header .entry-wrap-title{ 
        padding-left: 13px;
        padding-right: 13px;
    }
    h1.entry-title{
        font-size: 22px;
        line-height: 22px;
        margin-top: 8px;
        margin-bottom: 10px;
    }  
}


article.related h3{
    margin-top: 0;
}
article.related h3, article.related h3 a, .widgettitle{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-top: 0;
}
article.related figure img { width: 100%; }
.posts-related .posts-related-header, .widgettitle{
    border-bottom: 2px solid #1db4c1;
    color: #FFF;
    margin: 0 0.75rem;
    margin-bottom: 27px;
}
.posts-related .posts-related-header span, .widgettitle span{
    display: inline-block;
    padding: 9px 12px 5px 12px;
    background-color: #1db4c1;
}
/*comment area*/
.comments-area .comment-reply-title, .comments-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
}
.comments-area [type="checkbox"]:not(:checked),.comments-area [type="checkbox"]:checked{
    position: initial;
    opacity: 1;
    margin-right: 10px;
}




/* Footer styles */

footer .row{
	padding-top: 54px;
    margin: 0px;
}

.site-footer::before{
	content: "";
    width: 100%;
    height: 7px;
    position: absolute;
    z-index: 2;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,transparent);
}

	.footer-selos{
		display: flex;
  	    justify-content: space-evenly;
	}

	.footer-selos img{
		max-width: 100px;
	}

	footer h6,
	footer li{
		margin: 0px 0px 24px 0px;
	}

	footer ul{
		padding: 0px 0px 1px 0px;
		margin: 0px 0px 20px 0px;
	}

	footer h6{
		color: #371e56;
		font-size: 18px;
    	font-weight: 600;
	}

	footer a,
	footer p{
		color: #463758 !important;
		font-size: 14px;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}

	

@media only screen and (max-width: 767px){
	

	.footer-selos{
		display: grid;
		justify-items: center;
		margin-bottom: 50px;
	}

	.footer-selos img{
		margin: 10px;
	}

	.logo-footer{
		margin: 20px;
		max-width: 70%;
	}


}