@media only screen and ((min-width: 601px) or (min-width: 993px)) {
    .container {
        width: 95% !important;
    }
}
.container {
    max-width: 1140px;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #1db4c1;
    box-shadow: 0 1px 0 0 #1db4c1;  
}
.flex-me{ display: flex }
.block-me{ display: block; }
.fix-margin:before,.fix-margin:after{ content: ''; display: block; height: 1px; }
.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.no-margin-bottom { margin-bottom: 0; }
.text-justfy { text-align: justify; }
.btn, .btn-large, .btn-small{
    text-transform: initial;
    background-color: #371e56;
    box-shadow: none;
    border-radius: 10px;
}
.btn:hover, .btn-large:hover, .btn-small:hover{
    background-color: #371e56;
    color: #FFF !important;
    box-shadow: none;
}
/*colors*/
.li-grey{
    background-color: #f9f9f9 !important;
}
.li-roxo{
    background-color: #371e56 !important;
}
.li-roxo-text{
    color: #371e56 !important;
}



.site-header {
    display: flex;
    align-items: center;
    margin: 0px auto;
    min-height: 72px;
}
.custom-logo{
    max-width: 230px;
}
.site-header .site-title {
    margin: 16px 0;
}
.site-header .btn {
    margin: 15px 0px;
    font-weight: 600;
    font-size: 16px;
}
.mobile-nav-icon, .mobile-nav-icon a{
    line-height: 72px;
}
.site-header .btn:hover {
    font-weight: 600;
    font-size: 16px;
}
.site-search{
    position: relative;
    text-align: right;
}
.site-search a{
    display: inline-block;
    margin: 0px;
    padding-top: 8px;
    font-size: 16px;
    line-height: 64px;
}
.search-form{
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: -4px;
    text-align: center;
    width: 325px;
    background: #fff;
    border: 1px solid #371e56;
    padding: 0;
    height: 0;
    z-index: 12;
    box-shadow: 0 1px 4px rgb(0 0 0 / 9%);
    transition: height .1s;   
}
.search-form:before {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 8px 8px;
    content: "";
    right: 16px;
    position: absolute;
    top: -8px;
    z-index: 98;
}
.search-form:after {
    border-color: transparent transparent #eaeaea;
    border-style: solid;
    border-bottom-color: #371e56;
    border-width: 0 9px 9px;
    content: "";
    right: 15px;
    position: absolute;
    top: -9px;
    z-index: 97;
}
.site-search.open .search-form{
    opacity: 1;
    visibility: visible;
    padding: 20px;
    height: auto;
    transition: padding .2s,height .1s,opacity .15s;   
}
.search-form input{
    height: 36px;
    width: 100%;
    padding: 0.5em 30px 0.5em 14px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px rgb(0 0 0 / 5%);
}
.search-form input::placeholder{
    color: #000;
    opacity: 1; 
}
.search-form-button{
    color: #888;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    background: transparent;
    border: 0;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    height: auto;
    min-height: unset;
    line-height: normal;
    padding: 0 4px;
    transition: none;
    font-weight: 500;
}
.search-form-button:focus{
    background: transparent;
}
.site-search-mobile {
    position: relative;
    padding: 20px;
}
.site-search-mobile .search-form{
   position: initial;
   opacity: 1;
   visibility: visible;
   height: auto;
   width: 100%;
   border: 0;
}

nav{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    background-color: #f9f9f9;
    box-shadow: none;
}
.nav-menu > li > a, .nav-menu > li > a:hover{
    color: #371e56;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    padding: 0;
    padding-right: 25px;
}
.nav-menu .menu-item-has-children > a:after{
    position: absolute;
    top: 26px;
    right: 9px;
    color: #371e56;
    content: "keyboard_arrow_down";
    display: inline-block;
    margin-left: 5px;
    margin-right: -3px;
    line-height: 1;
    font-family: 'Material Icons';
    font-size: inherit;
    font-weight: normal;
    text-rendering: auto;
}
#mobile-nav { 
    height: 100vh;
    bottom: 0;
    padding-bottom: 0;
    z-index: 99999999;
}
#mobile-nav .mobile-nav-ul {
    padding: 20px;
}
#mobile-nav .mobile-nav-ul > li > a{
    color: #212121;
    margin-bottom: 15px;
    display: block;
    font-size: 18px;
    line-height: 1.444em;
    font-weight: 700;
    position: relative;
    padding: 0;
    height: auto;
}
#mobile-nav .menu-item-has-children:not(.open) .sub-menu{
    max-height: 0;
    transition: max-height 0.1s linear;
}
#mobile-nav li>a:hover {
    background: #fff;
}
#mobile-nav .sub-menu{
    display: block;
    overflow: hidden;
    max-height: 1000px;
    margin: 0;
    background: #fff;
    transition: max-height 5s linear;
}
#mobile-nav .sub-menu a{
    height: auto;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 12px;
    padding: 0;
    border-bottom: 1px solid #eee;
}
#mobile-nav .menu-item-has-children > a:after{
    position: absolute;
    top: 0;
    right: 9px;
    color: #a0a0a0;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
    color: #a0a0a0;
    content: "keyboard_arrow_right";
    font-family: 'Material Icons';
    font-size: 28px;
    font-weight: 100; 
    line-height: 1;
    transition: transform 0.5s linear;
}
#mobile-nav .menu-item-has-children.open > a:after{
    transform: rotate(90deg);
}
.footer-mobile-nav{
    position: absolute;
    bottom: 30px;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    font-size: 24px;
}

.slider .indicators{
    bottom: 10px;
}
.slider .indicators .indicator-item.active{
    background-color: #1db4c1;
}
#breadcrumbs, #breadcrumbs a, #breadcrumbs strong{ 
    font-size: 12px;
    line-height: 18px;
    color: #FFF; 
}
@media only screen and (max-width: 600px){
    #nav-search { width: 160px; }
    nav .dropdown-trigger{ padding-right: 0; }
}
/*Loop style*/
@media only screen and (min-width: 601px){
    article.loop { display: flex; }    
}


article.loop figure{ margin: 0; }
article.loop figure img{     height: 100%; }
h2.entry-title{
    margin: 0;
    font-size: 25px;
    font-weight: 600 !important;   
    line-height: 29px;
}
.entry-meta {
    font-size: 11px;
    margin-bottom: 7px;
    line-height: 1;
    min-height: 17px;
}
article.loop .entry-post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Single style*/
article.single .entry-header{ 
    position: relative;
    max-height: 700px;
    overflow: hidden;
    margin-bottom: 20px;
}
article.single .entry-header::before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}
article.single .entry-header #breadcrumbs{
    padding-top: 20px;
    flex-grow: 1;
}
article.single .entry-header .post-categories{
    margin: 0;
    display: flex;
}
article.single .entry-header .post-categories li{
    padding: 5px;
    background-color: #000;
    list-style: none;
    font-size: 10px;  
    color: #FFF;
}
article.single .entry-header .post-categories a{
    color: #FFF;
}
article.single .entry-header .post-thumbnail img{
    width: 100%;
}
article.single .entry-header .entry-wrap-title{ 
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1.entry-title{
    font-size: 44px;
    line-height: 54px;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #fff;
}

article.single .entry-header .entry-arrow{
    opacity: .8;
}
article.single .entry-meta, article.single .entry-meta a{
    color: #FFF;
}
article.single .entry-content{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
article.single .entry-content h2{
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    margin: 6px 0;
    margin-top: 30px;
    margin-bottom: 20px;    
    color: #111;
    overflow-wrap: break-word;
}
article.single .entry-content h3{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    margin: 6px 0;
    margin-top: 27px;
    margin-bottom: 17px;    
    color: #111;
    overflow-wrap: break-word;
}
article.single .entry-content p {
    margin-top: 1em;
    margin-bottom: 1em;
}
article.single .entry-content p:first-child {
    margin-top: 0;
}
article.single .entry-content ul{
    margin: 0 16px;
    list-style-type: disc;
}
article.single .entry-content li{
    list-style-type: disc;
}
article.single .entry-footer{
    border-top: 1px solid #ededed;
    padding: 42px 0 42px 0;
    
}
article.single .post-nav{
    height: auto;
}
article.single .author-box{
    height: auto;
    margin: 0;
    padding: 1.5rem 0.75rem;
    border: 1px solid #ededed;
}
article.single .author-box a{
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    color: #000;
}
article.single .post-nav span{
    display: block;
    line-height: 1.5;
    font-size: 12px;
    color: #c1c1c1;
    margin-bottom: 7px;
}
article.single .post-nav a{
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #222;
    line-height: 21px;
    margin-bottom: 43px;
}
@media only screen and (max-width: 600px){
    article.single .entry-header .entry-wrap-title{ 
        padding-left: 13px;
        padding-right: 13px;
    }
    h1.entry-title{
        font-size: 22px;
        line-height: 22px;
        margin-top: 8px;
        margin-bottom: 10px;
    }  
}


article.related h3{
    margin-top: 0;
}
article.related h3, article.related h3 a, .widgettitle{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    margin-top: 0;
}
article.related figure img { width: 100%; }
.posts-related .posts-related-header, .widgettitle{
    border-bottom: 2px solid #1db4c1;
    color: #FFF;
    margin: 0 0.75rem;
    margin-bottom: 27px;
}
.posts-related .posts-related-header span, .widgettitle span{
    display: inline-block;
    padding: 9px 12px 5px 12px;
    background-color: #1db4c1;
}
/*comment area*/
.comments-area .comment-reply-title, .comments-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
}
.comments-area [type="checkbox"]:not(:checked),.comments-area [type="checkbox"]:checked{
    position: initial;
    opacity: 1;
    margin-right: 10px;
}
/*Footer*/
.site-footer{
    font-size: 13px;
}
.site-footer h4{
    border-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.5em; 
}
.site-footer article.recent{
    border-bottom: 1px dashed #f1f1f1;
}
.site-footer article.recent a{
    font-size: 13px;
    line-height: 21px;
}
.site-footer a:not(:hover){
    color: #FFF;
}
.site-footer .posted-on{
    display: block;    
    font-size: 11px;
    line-height: 16px;
    color: #b5b5b5;
    font-style: italic;
    margin-bottom: 5px; 
}
.site-footer .posted-on a{
    font-size: 11px;
    line-height: 16px;
    color: #b5b5b5;
    font-style: italic;
}